# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.sdf
*.log
*.log
*.lastbuildstate
*.obj
*.lib
*.tlog
*.exe
*.ilk
*.pdb
*.idb
*.htm
*.html
*.rsp
*.rsp
*.bin
boost/boost/boost_1_57_0/bin.v2/libs/log/build/msvc-12.0/debug/address-model-32/link-static/log-api-winnt/threading-multi/simple_event_log.h
*.rc
*.pch
boost/boost/boost_1_57_0/bin.v2/libs/log/build/msvc-12.0/debug/address-model-64/link-static/log-api-winnt/threading-multi/simple_event_log.h
boost/boost/boost_1_57_0/bin.v2/libs/log/build/msvc-12.0/release/address-model-32/link-static/log-api-winnt/threading-multi/simple_event_log.h
boost/boost/boost_1_57_0/bin.v2/libs/log/build/msvc-12.0/release/address-model-64/link-static/log-api-winnt/threading-multi/simple_event_log.h
boost/boost/boost_1_57_0/bin.v2/libs/log/config/message-compiler/msvc-12.0/debug/address-model-32/pch-off/threading-multi/simple_event_log.h
boost/boost/boost_1_57_0/bin.v2/libs/log/config/message-compiler/msvc-12.0/debug/address-model-64/pch-off/threading-multi/simple_event_log.h
boost/boost/boost_1_57_0/bin.v2/libs/math/build/msvc-12.0/debug/address-model-32/link-static/threading-multi/pch.pch.cpp
boost/boost/boost_1_57_0/bin.v2/libs/math/build/msvc-12.0/debug/address-model-64/link-static/threading-multi/pch.pch.cpp
boost/boost/boost_1_57_0/bin.v2/libs/math/build/msvc-12.0/release/address-model-32/link-static/threading-multi/pch.pch.cpp
boost/boost/boost_1_57_0/bin.v2/libs/math/build/msvc-12.0/release/address-model-64/link-static/threading-multi/pch.pch.cpp
boost/boost/boost_1_57_0/bin.v2/project-cache.jam
boost/boost/boost_1_57_0/bin.v2/standalone/ac/main.cpp
boost/boost/boost_1_57_0/bin.v2/standalone/ac/zlib.h.cpp
boost/boost/boost_1_57_0/project-config.jam
